.fl-container {
        display: flex;
        justify-content: flex-start;
}

.fl-1 {
        justify-content: space-evenly;
        display: inline-flex;
        flex: 1;

}

.w-5em {
        width: 5em;
}

.w-8em {
        width: 8em;
}

.vs-text {
        margin-top: 3rem;
        font-weight: bold;
        font-size: 6em;
}

.active {
        opacity: 1 !important;
}

.hidden {
        display: none;
}

.fl-button {
        /* size: 10em; */
        /* border-style: solid; */
}

.fl-scissors {
        content: url('../images/scissors.jpg');
        opacity: 0.5;
}

.fl-paper {
        content: url('../images/paper.jpg');
        opacity: 0.5;
}

.fl-rock {
        content: url('../images/rock.jpg');
        opacity: 0.5;
}

.ai-icon {
        filter: grayscale()
}

div.user-icon>.fl-scissors:hover,
div.user-icon>.fl-rock:hover,
div.user-icon>.fl-paper:hover {
        opacity: 1;
}

.slide-in-fwd-left {
        -webkit-animation: slide-in-fwd-left .5s cubic-bezier(.25, .46, .45, .94) both;
        animation: slide-in-fwd-left .5s cubic-bezier(.25, .46, .45, .94) both
}

.slide-in-fwd-right {
        -webkit-animation: slide-in-fwd-right .5s cubic-bezier(.25, .46, .45, .94) both;
        animation: slide-in-fwd-right .5s cubic-bezier(.25, .46, .45, .94) both
}